/*&:before{
  background: url("../image/sub.png") 0px 0px no-repeat;
  content: "";
  display: inline-block;
  width: 20px;
  height: 12px;
  position: absolute;
  left: -1px;
  top: 2px;
}
@include old-ie{
  *zoom: expression(
    this.runtimeStyle.zoom="1",
    this.appendChild( document.createElement("small") ).className="before"
  );
  .before{
    background: url("../image/sub.png") 0px 0px no-repeat;
    width: 20px;
    height: 12px;      
    position: absolute;
    left: -1px;
    top: 2px; 
  }
}*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table, tr, th, td, table, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'proximanova';
  src: url("fonts/proximanova-reg.eot");
  src: url("fonts/proximanova-reg.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-reg.woff2") format("woff2"), url("fonts/proximanova-reg.woff") format("woff"), url("fonts/proximanova-reg.ttf") format("truetype"), url("fonts/proximanova-reg.svg#proximanova") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_bold';
  src: url("fonts/proximanova-bold.eot");
  src: url("fonts/proximanova-bold.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-bold.woff2") format("woff2"), url("fonts/proximanova-bold.woff") format("woff"), url("fonts/proximanova-bold.ttf") format("truetype"), url("fonts/proximanova-bold.svg#proximanova_bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_light';
  src: url("fonts/proximanova-light.eot");
  src: url("fonts/proximanova-light.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-light.woff2") format("woff2"), url("fonts/proximanova-light.woff") format("woff"), url("fonts/proximanova-light.ttf") format("truetype"), url("fonts/proximanova-light.svg#proximanova_light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_italic';
  src: url("fonts/proximanova-regit.eot");
  src: url("fonts/proximanova-regit.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-regit.woff2") format("woff2"), url("fonts/proximanova-regit.woff") format("woff"), url("fonts/proximanova-regit.ttf") format("truetype"), url("fonts/proximanova-regit.svg#proximanova_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_cond';
  src: url("fonts/proximanovacond-reg.eot");
  src: url("fonts/proximanovacond-reg.eot?#iefix") format("embedded-opentype"), url("fonts/proximanovacond-reg.woff2") format("woff2"), url("fonts/proximanovacond-reg.woff") format("woff"), url("fonts/proximanovacond-reg.ttf") format("truetype"), url("fonts/proximanovacond-reg.svg#proximanova_cond") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_bold_italic';
  src: url("fonts/proximanova-boldit.eot");
  src: url("fonts/proximanova-boldit.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-boldit.woff2") format("woff2"), url("fonts/proximanova-boldit.woff") format("woff"), url("fonts/proximanova-boldit.ttf") format("truetype"), url("fonts/proximanova-boldit.svg#proximanova_bold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova_light_italic';
  src: url("fonts/proximanova-lightit.eot");
  src: url("fonts/proximanova-lightit.eot?#iefix") format("embedded-opentype"), url("fonts/proximanova-lightit.woff2") format("woff2"), url("fonts/proximanova-lightit.woff") format("woff"), url("fonts/proximanova-lightit.ttf") format("truetype"), url("fonts/proximanova-lightit.svg#proximanova_light_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 1000px;
}

textarea {
  resize: none;
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

input {
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

strong, b {
  font-family: proximanova_bold;
}

i {
  font-family: proximanova_italic;
}

a:focus {
  outline: none;
}

pre {
  white-space: normal;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

.hide {
  display: none;
}

.delay-05s {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}

.delay-06s {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

.delay-07s {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}

.delay-08s {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}

.delay-09s {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}

.delay-1s {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-11s {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

.delay-12s {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.delay-13s {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}

.delay-14s {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.delay-15s {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.delay-16s {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.delay-17s {
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}

.delay-18s {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.delay-19s {
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}

.delay-2s {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.hidded {
  visibility: hidden;
}

.fadeIn, .fadeInUp, .fadeOut, .fadeOutUp, .flipInX, .flipOutX, .flipInY, .flipOutY, .zoomIn, .zoomOut, .slideInLeft, .rollIn, .rollOut, .bounce, .pulse, .tada, .bounceInDown {
  visibility: visible;
}

.placeholder {
  font-size: 16px;
  color: #adadad;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 16px;
  color: #adadad;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 16px;
  color: #adadad;
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 16px;
  color: #adadad;
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 16px;
  color: #adadad;
}

.mybreadcrumb {
  padding: 31px 0px 52px 0px;
}
.mybreadcrumb_link {
  color: #373737;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 0px 0px 23px;
}
.mybreadcrumb_link:visited {
  color: #373737;
}
.mybreadcrumb_link:hover {
  color: #3498db;
}
.mybreadcrumb_link:active {
  color: #373737;
}
.mybreadcrumb_link:focus {
  color: #373737;
}
.mybreadcrumb_link:before {
  background: url("../image/bread.png") -18px 0px no-repeat #fff;
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  position: absolute;
  top: 1px;
  left: -24px;
}
.mybreadcrumb_link:first-child {
  margin: 0px 0px -1px 0px;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 18px;
  height: 15px;
  background: url("../image/bread.png") 0px 0px no-repeat #fff;
}
.mybreadcrumb_link:first-child:before {
  display: none;
}
.mybreadcrumb_item {
  color: #3498db;
  position: relative;
  font-size: 14px;
  margin: 0px 0px 0px 23px;
}
.mybreadcrumb_item:before {
  background: url("../image/bread.png") -18px 0px no-repeat #fff;
  content: "";
  display: block;
  width: 18px;
  height: 15px;
  position: absolute;
  top: 1px;
  left: -24px;
}

.user-content {
  padding: 0px 0px 0px 0px;
}

/*# sourceMappingURL=all.css.map */
