@font-face {
    font-family: 'proximanova';
    src: url('../fonts/proximanova-reg.eot');
    src: url('../fonts/proximanova-reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-reg.woff2') format('woff2'),
         url('../fonts/proximanova-reg.woff') format('woff'),
         url('../fonts/proximanova-reg.ttf') format('truetype'),
         url('../fonts/proximanova-reg.svg#proximanova') format('svg');
    font-weight: normal;
    font-style: normal;

}