$font: proximanova;
$bold: proximanova_bold;
$light: proximanova_light;
$italic: proximanova_italic;
$cond: proximanova_cond;
$boldit: proximanova_bold_italic;
$lightit: proximanova_light_italic;
$min_width: 1000px;
@import "mymix";
@import "fonts";
//**********************************************************/
//**********************************************************/
body{
  //font-family: $font;
  //font-size: $font_size18;
  min-width: $min_width;
  //position: relative;
}
textarea{
  resize: none;
  box-shadow: none;
  @include def-border-radius(0px);
}
input{
  box-shadow: none;
  @include def-border-radius(0px);
}
button, input[type="reset"], input[type="button"], input[type="submit"] {
  box-shadow: none;
  @include def-border-radius(0px);
}
strong, b{
  font-family: $bold;
}
i{
  font-family: $italic;
}
a{
  //@include link(#373737, #373737);
  &:focus{
    outline: none;
  }
}
pre{
  white-space: normal;
}
h1, h2, h3, h4, h5, h6{
  
}
input::-moz-placeholder {

}
textarea::-moz-placeholder {

}
input::-webkit-input-placeholder{

}
textarea::-webkit-input-placeholder{

}
input{
  &:focus{
    outline: none;
  }
}
textarea{
  &:focus{
    outline: none;
  }
}
.hide{
  display: none;
}
.delay-05s{
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
.delay-06s{
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}
.delay-07s{
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
.delay-08s{
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
.delay-09s{
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}
.delay-1s{
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-11s{
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.delay-12s{
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay-13s{
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -o-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.delay-14s{
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.delay-15s{
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
.delay-16s{
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.delay-17s{
  -webkit-animation-delay: 1.7s;
  -moz-animation-delay: 1.7s;
  -o-animation-delay: 1.7s;
  animation-delay: 1.7s;
}
.delay-18s{
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.delay-19s{
  -webkit-animation-delay: 1.9s;
  -moz-animation-delay: 1.9s;
  -o-animation-delay: 1.9s;
  animation-delay: 1.9s;
}
.delay-2s{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}
.hidded{
  visibility: hidden;
}
.fadeIn, .fadeInUp, .fadeOut, .fadeOutUp, .flipInX, .flipOutX, .flipInY, .flipOutY, .zoomIn, .zoomOut, .slideInLeft, .rollIn, .rollOut, .bounce, .pulse, .tada, .bounceInDown{
  visibility: visible;
}
//**********************************************************/
//**********************************************************/
@import "placeholder";
@import "mybreadcrumb";
@import "user-content";